// MIXINS
$dark-grey: #373737;
$white-key: #FFFFF6;
$black-key: #000;
$header-color: #232323;


// FONT-SIZES
$font-size-xxlarge: 3.75rem;
$font-size-xlarge: 2.25rem;
$font-size-large: 1.5rem;
$font-size-regular: 1rem;
$font-size-medium: 0.875rem;
$font-size-small: 0.8125rem;


// FONT-COLOR
$font-color: #FFFFF6;
