@import '../../styles/styles.scss';


.header {
    height: 80px;
    background-color: $header-color;
    padding-left: 100px;
    border-bottom: 1px solid $white-key;
    text-decoration: none;

    

    &__button-menu,  &__button-piano {
        -webkit-appearance: none;
        background: transparent;
        border: none;
        outline: none;
        underline: none;
        font-family: monospace;
        font-size: $font-size-large;
        color: $font-color;
        padding-top: 30px;
        margin-right: 100px;
    }
}





