@import '../../styles/styles.scss';


.header {
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: $header-color;
    padding-left: 100px;
    border-bottom: 1px solid $white-key;
    

    &__button-menu,  &__button-piano {
        -webkit-appearance: none;
        background: transparent;
        border: none;
        outline: none;
        font-family: monospace;
        font-size: $font-size-xlarge;
        color: $font-color;
        padding-top: 20px;
        margin-right: 100px;
    }
}

.link {
    text-decoration: none;
}





